body {
    background-color: #5c6462 ;
}

.card-header{
    background-color: #65aa37d7 ;
    font-weight: bold;
}

.card-body {
    background-color: #92c83e ;
}

.card {
    transition-property: transform;
    transition-duration: 700ms;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: inset 0 0 1em black, 0 0 1em black;
  }
  
.sucess-text {
    color: white;
    font-weight: 500;
    
}

.btn-delete {
    background-image: url("../IMG/icon-delete.png");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 24px;
    width: 24px;
    height: 24px;
}